.Navbar-container{
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #0a2242;
}
.Navbar-title{
    color: white;
    font-size: 5em;
}